<h1>Edit Contact</h1>

<%= form_tag "/contacts", method: :patch do %>
<div>
First Name: <input type="text" name= "first_name">
 </div>
<div>
Last Name: <input type="text" name= "last_name">
 </div>
<div>
Email: <input type="text" name= "email">
 </div>
<div>
Phone Number: <input type="text" name= "phone_number">
</div>

<% end %>

<%= link_to "Edit Contact", "/contacts/#{ @contact.id}", method: :edit %>