<h1>All Contacts</h1>
<% @contacts.each do |contact| %>
<h2>First Name: <%= contact.first_name %></h2>
<h2>Last Name: <%= contact.last_name %></h2>
<h2>Email: <%= contact.email %></h2>
<h2>Phone: <%= contact.phone_number %></h2>
<br>
<% end %>

